.search-Bar{
    width: 20%;
    
    float: right;
    
    font-style: italic;
    color: #29627e;
    font-family: Arial, Helvetica, sans-serif;
}

.search > p {
    margin: .5rem;
}







/*Butão mutavel
/*https://www.twilio.com/blog/intro-custom-button-component-typescript-react
/*search componentes
/*https://dev.to/salehmubashar/search-bar-in-react-js-545l