* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

li{
  list-style: none;
}

.ContainerApp{
  height: 100%;
}

.ContainerPages{
  margin-top: 8rem;
  height: 100%;
}

body {
  background-color: #272727;
}

@media(max-width: 845px) {
  html {
    font-size: 55%;
  }

  .ContainerPages{
    margin-top: 16rem;
  }
}
